<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.persistenthuang.lan108admin.mapper.LanAdMapper">
    <resultMap id="adMap" type="com.persistenthuang.lan108admin.pojo.LanAd">
        <!-- id为主键的映射 -->
        <id property="id" column="id"/>
        <!-- result为主键之外的字段映射 -->
        <result property="lanAdImage" column="lan_ad_image"/>
        <result property="lanAdLink" column="lan_ad_link"/>
    </resultMap>
    <!--增加-->
    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into lan_ad(lan_ad_image,lan_ad_link)
        values(
        #{lanAdImage},
        <choose>
            <when test="ad.lanAdLink==null">
                "108lan.com"
            </when>
            <otherwise>
                #{ad.lanAdLink},
            </otherwise>
        </choose>
        )
    </insert>
    <!--修改-->
    <update id="update">
        update lan_ad
        <set>
            <if test="ad.lanAdImage!=null">lan_ad_image=#{ad.lanAdImage},</if>
            <if test="ad.lanAdLink!=null">lan_ad_link=#{ad.lanAdLink},</if>
        </set>
        where id=#{ad.id}
    </update>
    <!--删除-->
    <delete id="delete">
        delete
        from lan_ad
        where id = #{ad.id}
    </delete>
    <!--查询-->
    <select id="select" resultMap="adMap">
        select *
        from lan_ad
    </select>
</mapper>
