<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.persistenthuang.lan108admin.mapper.LanAdminMapper">
    <resultMap id="adminMap" type="com.persistenthuang.lan108admin.pojo.LanAdmin">
        <!-- id为主键的映射 -->
        <id property="id" column="id"/>
        <!-- result为主键之外的字段映射 -->
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
        <result property="adminCreatData" column="admin_creat_data"/>
        <result property="adminIsDelete" column="admin_is_delete"/>
    </resultMap>
    <select id="selectList"
            resultMap="adminMap">
        select * from lan_admin
        where admin_is_delete=#{admin.adminIsDelete}
        <if test="admin.id != 0">
            AND id = #{admin.id}
        </if>
        <if test="admin.userId != 0">
            AND user_id = #{admin.userId}
        </if>
        <if test="admin.roleId != 0">
            AND role_id = #{admin.roleId}
        </if>
    </select>
    <select id="selectOne"
            resultMap="adminMap">
        select * from lan_admin
        where admin_is_delete=#{admin.adminIsDelete}
        <if test="admin.id != 0">
            AND id = #{admin.id}
        </if>
        <if test="admin.userId != 0">
            AND user_id = #{admin.userId}
        </if>
        <if test="admin.roleId != 0">
            AND role_id = #{admin.roleId}
        </if>
    </select>
    <!--增加-->
    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into lan_admin(user_id, role_id, admin_creat_data, admin_is_delete)
        values (#{admin.user_id}, #{admin.role_id}, current_date, 0)
    </insert>
    <!--修改-->
    <update id="update">
        update lan_admin
        <set>
            <if test="admin.userId!=0">user_id=#{admin.userId},</if>
            <if test="admin.roleId!=0">role_id=#{admin.roleId},</if>
            <if test="admin.adminCreatData!=null">admin_creat_data=current_date ,</if>
            <if test="admin.adminIsDelete!=null">admin_is_delete=#{admin.adminIsDelete},</if>
        </set>
        where id=#{admin.id}
    </update>
    <!--删除-->
    <delete id="delete">
        delete
        from lan_admin
        where id = #{admin.id}
    </delete>
</mapper>
