<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.persistenthuang.lan108admin.mapper.LanBlogsMapper">
    <resultMap id="blogMap" type="com.persistenthuang.lan108admin.pojo.LanBlogs">
        <!-- id为主键的映射 -->
        <id property="id" column="id"/>
        <!-- result为主键之外的字段映射 -->
        <result property="blogsAuthorId" column="blogs_author_id"/>
        <result property="blogsCreateData" column="blogs_create_data"/>
        <result property="blogsTitle" column="blogs_title"/>
        <result property="blogsSummary" column="blogs_summary"/>
        <result property="blogsCover" column="blogs_cover"/>
        <result property="blogsHtml" column="blogs_html"/>
        <result property="blogsContent" column="blogs_content"/>
        <result property="blogsColumn" column="blogs_column"/>
        <result property="blogsPassword" column="blogs_password"/>
        <result property="blogsStatus" column="blogs_status"/>
    </resultMap>
    <select id="selectList"
            resultMap="blogMap">
        select * from lan_blogs
        where blogs_status=#{lanBlogs.blogsStatus}
        <if test="lanBlogs.id != 0">
            AND id = #{blogs.id}
        </if>
        <if test="lanBlogs.blogsAuthorId != 0">
            AND blogs_author_id = #{lanBlogs.blogsAuthorId}
        </if>
        <if test="lanBlogs.blogsColumn != 0">
            AND blogs_column = #{lanBlogs.blogsColumn}
        </if>
        order by blogs_create_data DESC
        limit #{start},#{size}
    </select>

    <select id="selectOne"
            resultMap="blogMap">
        select * from lan_blogs
        where blogs_status=#{lanBlogs.blogsStatus}
        <if test="lanBlogs.id != 0">
            AND id = #{lanBlogs.id}
        </if>
        <if test="lanBlogs.blogsAuthorId != 0">
            AND blogs_author_id = #{lanBlogs.blogsAuthorId}
        </if>
        <if test="lanBlogs.blogsColumn != 0">
            AND blogs_column = #{lanBlogs.blogsColumn}
        </if>
        order by blogs_create_data DESC
        limit #{start},#{size}
    </select>

    <select id="selectListByKey"
            resultMap="blogMap">
        select *
        from lan_blogs
        where blogs_title like '%${keywords}%'
          and blogs_status = 2
    </select>
    <select id="selectListByMessage"
            resultMap="blogMap">
        select *
        from lan_blogs
        where id in (
            select blog_id from lan_massage where user_id = #{userId} and msg_id_read = 0
        )
          and blogs_status = 2
    </select>
    <!--返回博客Id-->
    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO lan_blogs (
        blogs_author_id,
        blogs_create_data,
        blogs_title,
        blogs_summary,
        blogs_cover,
        blogs_html,
        blogs_content,
        blogs_column,
        blogs_password,
        blogs_status)
        values(
        #{blogsAuthorId},
        <choose>
            <when test="lanBlogs.blogsCreateData==null">
                current_time ,
            </when>
            <otherwise>
                #{lanBlogs.blogsCreateData},
            </otherwise>
        </choose>
        #{lanBlogs.blogsTitle},
        <choose>
            <when test="lanBlogs.blogsSummary==null">
                " ",
            </when>
            <otherwise>
                #{lanBlogs.blogsSummary},
            </otherwise>
        </choose>
        <choose>
            <when test="lanBlogs.blogsCover==null">
                " ",
            </when>
            <otherwise>
                #{lanBlogs.blogsCover},
            </otherwise>
        </choose>
        <choose>
            <when test="lanBlogs.blogsHtml==null">
                " ",
            </when>
            <otherwise>
                #{lanBlogs.blogsHtml},
            </otherwise>
        </choose>
        <choose>
            <when test="lanBlogs.blogsContent==null">
                " ",
            </when>
            <otherwise>
                #{lanBlogs.blogsContent},
            </otherwise>
        </choose>
        <choose>
            <when test="lanBlogs.blogsColumn==null">
                "0",
            </when>
            <otherwise>
                #{lanBlogs.blogsColumn},
            </otherwise>
        </choose>
        <choose>
            <when test="lanBlogs.blogsPassword==null">
                "0",
            </when>
            <otherwise>
                #{lanBlogs.blogsPassword},
            </otherwise>
        </choose>
        0
        )
    </insert>

    <!--修改-->
    <update id="update">
        update lan_blogs
        <set>
            <if test="lanBlogs.blogsAuthorId!=null">blogs_author_id=#{lanBlogs.blogsAuthorId},</if>
            <if test="lanBlogs.blogsTitle!=null">blogs_title=#{lanBlogs.blogsTitle},</if>
            <if test="lanBlogs.blogsSummary!=null">blogs_summary=#{lanBlogs.blogsSummary} ,</if>
            <if test="lanBlogs.blogsCover!=null">blogs_cover=#{lanBlogs.blogsCover},</if>
            <if test="lanBlogs.blogsHtml!=null">blogs_html=#{lanBlogs.blogsHtml},</if>
            <if test="lanBlogs.blogsContent!=null">blogs_content=#{lanBlogs.blogsContent},</if>
            <if test="lanBlogs.blogsColumn!=null">blogs_column=#{lanBlogs.blogsColumn},</if>
            <if test="lanBlogs.blogsPassword!=null">blogs_password=#{lanBlogs.blogsPassword},</if>
            <if test="lanBlogs.blogsStatus!=null">blogs_status=#{lanBlogs.blogsStatus},</if>
        </set>
        where id=#{lanBlogs.id}
    </update>
    <!--删除-->
    <delete id="delete">
        delete
        from lan_blogs
        where id = #{lanBlogs.id}
    </delete>
</mapper>
