<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.persistenthuang.lan108admin.mapper.LanFocusMapper">
    <resultMap id="focusMap" type="com.persistenthuang.lan108admin.pojo.LanFocus">
        <!-- id为主键的映射 -->
        <id property="id" column="id"/>
        <!-- result为主键之外的字段映射 -->
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
    </resultMap>
    <select id="selectList"
            resultMap="focusMap">
        select * from lan_focus
        where true
        <if test="focus.id != 0">
            AND id = #{focus.id}
        </if>
        <if test="focus.userId != 0">
            AND user_id = #{focus.userId}
        </if>
        <if test="focus.roleId != 0">
            AND role_id = #{focus.roleId}
        </if>
    </select>

    <select id="selectOne"
            resultMap="focusMap">
        select * from lan_focus
        where true
        <if test="focus.id != 0">
            AND id = #{focus.id}
        </if>
        <if test="focus.userId != 0">
            AND user_id = #{focus.userId}
        </if>
        <if test="focus.roleId != 0">
            AND role_id = #{focus.roleId}
        </if>
    </select>

    <insert id="insert"
            useGeneratedKeys="true">
        insert into lan_focus(user_id, role_id)
        values (#{focus.userId}, #{focus.roleId})
    </insert>
    <delete id="delete">
        delete
        from lan_focus
        where user_id = #{focus.userId}
          and role_id = #{focus.roleId}
    </delete>
</mapper>
