<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.persistenthuang.lan108admin.mapper.LanMassageMapper">
    <resultMap id="messageMap" type="com.persistenthuang.lan108admin.pojo.LanMassage">
        <!-- id为主键的映射 -->
        <id property="id" column="id"/>
        <!-- result为主键之外的字段映射 -->
        <result property="userId" column="user_id"/>
        <result property="blogId" column="blog_id"/>
        <result property="msgType" column="msg_type"/>
        <result property="msgCreatData" column="msg_creat_data"/>
        <result property="msgIdRead" column="msg_id_read"/>
    </resultMap>

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO lan_massage (user_id,
                                 blog_id,
                                 msg_type,
                                 msg_creat_data,
                                 msg_id_read)
        values (#{massage.userId},
                #{massage.blogId},
                "0",
                current_time,
                "0")
    </insert>
    <select id="selectList"
            resultMap="messageMap">
        select *
        from lan_massage
        where user_id = #{massage.userId}
          and msg_id_read = "0"
    </select>

    <update id="update">
        update lan_massage
        set msg_id_read=1
        where user_id = #{massage.userId}
          and blog_id = #{massage.blogId}
    </update>
</mapper>
