<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.persistenthuang.lan108admin.mapper.LanRolesMapper">
    <resultMap id="rolesMap" type="com.persistenthuang.lan108admin.pojo.LanRoles">
        <!-- id为主键的映射 -->
        <id property="id" column="id"/>
        <!-- result为主键之外的字段映射 -->
        <result property="rolesLanName" column="roles_lan_name"/>
        <result property="rolesStarname" column="roles_starname"/>
        <result property="rolesNickname" column="roles_nickname"/>
        <result property="rolesTruename" column="roles_truename"/>
        <result property="rolesDescription" column="roles_description"/>
        <result property="rolesImg" column="roles_img"/>
    </resultMap>

    <select id="selectOne"
            resultMap="rolesMap">
        select * from lan_roles where true
        <if test="roles.id!=0">and id=#{roles.id}</if>
        <if test="roles.rolesLanName!=null">and roles_lan_name=#{roles.rolesLanName}</if>
        <if test="roles.rolesState!=0">and roles_state=#{roles.rolesState}</if>
        <if test="roles.rolesStarname!=null">and roles_starname=#{roles.rolesStarname}</if>
        <if test="roles.rolesNickname!=null">and roles_nickname=#{roles.rolesNickname}</if>
        <if test="roles.rolesTruename!=null">and roles_truename=#{roles.rolesTruename}</if>
        <if test="roles.rolesDescription!=null">and roles_description=#{roles.rolesDescription}</if>
        <if test="roles.rolesImg!=null">and roles_img=#{roles.rolesImg}</if>
    </select>

    <select id="selectList"
            resultMap="rolesMap">
        select * from lan_roles where true
        <if test="roles.id!=0">and id=#{roles.id}</if>
        <if test="roles.rolesLanName!=null">and roles_lan_name=#{roles.rolesLanName}</if>
        <if test="roles.rolesState!=null">and roles_state=#{roles.rolesState}</if>
        <if test="roles.rolesStarname!=null">and roles_starname=#{roles.rolesStarname}</if>
        <if test="roles.rolesNickname!=null">and roles_nickname=#{roles.rolesNickname}</if>
        <if test="roles.rolesTruename!=null">and roles_truename=#{roles.rolesTruename}</if>
        <if test="roles.rolesDescription!=null">and roles_description=#{roles.rolesDescription}</if>
        <if test="roles.rolesImg!=null">and roles_img=#{roles.rolesImg}</if>
    </select>

    <update id="update">
        <if test="id!=0">
            update
            lan_roles
            <set>
                <if test="roles.rolesLanName!=null">roles_lan_name = #{roles.rolesLanName},</if>
                <if test="roles.rolesState!=null">roles_state = #{roles.rolesState},</if>
                <if test="roles.rolesStarname!=null">roles_starname=#{roles.rolesStarname},</if>
                <if test="roles.rolesNickname!=null">roles_nickname= #{roles.rolesNickname},</if>
                <if test="roles.rolesTruename!=null">roles_truename =#{roles.rolesTruename},</if>
                <if test="roles.rolesDescription!=null">roles_description = #{roles.rolesDescription},</if>
                <if test="roles.rolesImg!=null">roles_img = #{roles.rolesImg},</if>
            </set>
            where id = #{roles.id}
        </if>
    </update>
</mapper>
